@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  font-family: "Montserrat";
  letter-spacing: 0.5px;
}

h1 {
  margin: 20px 0px;
}

.App {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #374151;
  color: #ffffff;
}

.btn-container {
  margin-bottom: 20px;
}
button {
  padding: 0.4rem 2rem;
  font-weight: 700;
  font-size: medium;
  background-color: transparent;
  color: #ffffff;
  border-radius: 7px;
  border: 1px solid #ffffff;
  margin: 1rem 0.5rem;
  outline: none;
  cursor: pointer;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin: 1.5rem;
  color: #fff;
}

.item {
  padding: 1rem;
  border: 1px solid #ffffff;
  border-radius: 7px;
  width: 90%;
  margin: 0.4rem;
  font-size: small;
}
